
<html>
    <head>
      <title>{{title}}</title>
    </head>
    <body>
        <h1>Sign Me</h1>
<form action='/submit' method='post'>
  <label for='name'>Name</label>
  <input name='name' type='text'></input>

  <label for='message'>Message</label>
  <input name='message' type='text'></input>

  <input type='submit'></input>
</form>
  <hr>
      <p>Hello! This is {{app_name}}!</p>
      <hr>
    <ul>
        {% for raw in data %}
        <li>
          <h2>
            {{raw["text"]}}
          </h2>
        </li>
        {% endfor %}  
    </ul>
    </body>
  </html>